//
// List groups
// --------------------------------------------------
// Base class
//
// Easily usable on <ul>, <ol>, or <div>.
.list-group {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: @list-group-bg;
    border-bottom: 1px solid @list-group-border;
    .clearfix();
    &.disabled {
        a {
            background: #eee;
        }
    }
}

.list-group-item-default {
    position: relative;
    display: block;
    background-color: @list-group-bg;
    border-bottom: 1px solid @list-group-border;
    .clearfix();
    .left {
        padding-left: 30px;
        .row {
            margin: 10px 0;
            span.level.default {
                color: #000;
            }
            span.level.info {
                color: #3e86f4;
            }
            span.level.danger {
                color: #fd6060;
            }
        }
    }
    .right {
        padding: 10px 15px;
        background: #f2f2f2;
        height: 120px;
        line-height: 95px;
        img {
            width: 40px;
        }
    }
}

a.list-group-item,
button.list-group-item {
    color: @list-group-link-color;
    .list-group-item-heading {
        color: @list-group-link-heading-color;
    } // Hover state
    &:hover,
    &:focus {
        text-decoration: none;
        color: @list-group-link-hover-color;
        background-color: @list-group-hover-bg;
    }
}

button.list-group-item {
    width: 100%;
    text-align: left;
}

.list-group-item {
    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
        background-color: @list-group-disabled-bg;
        color: @list-group-disabled-color;
        cursor: @cursor-disabled;
        .list-group-item-heading {
            color: inherit;
        }
        .list-group-item-text {
            color: @list-group-disabled-text-color;
        }
    }
    &.active,
    &.active:hover,
    &.active:focus {
        z-index: 2;
        color: @list-group-active-color;
        background-color: @list-group-active-bg;
        border-color: @list-group-active-border;
        .list-group-item-heading,
        .list-group-item-heading>small,
        .list-group-item-heading>.small {
            color: inherit;
        }
        .list-group-item-text {
            color: @list-group-active-text-color;
        }
    }
}

.list-group-item-variant(success;
@state-success-bg;
@state-success-text);
.list-group-item-variant(info;
@state-info-bg;
@state-info-text);
.list-group-item-variant(warning;
@state-warning-bg;
@state-warning-text);
.list-group-item-variant(danger;
@state-danger-bg;
@state-danger-text); // Custom content options
//
.list-group-item-heading {
    border-bottom: 1px solid #eee;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    font-size: 16px;
    background: #fff;
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}