//
// 菜单
//
.menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    &.in {
        opacity: 1;
    }
    >ul {
        width: 100%;
        height: 580px;
        padding: 10px 10px 0 10px;
        margin-bottom: 0;
        background: #fff;
        z-index: 1001;
        position: fixed;
        left: 0;
        bottom: 0;
        >li {
            float: left;
            list-style: none;
            text-align: center;
            width: 33%;
            height: 100px;
            margin: 20px 0;
            >a {
                text-decoration: none;
                color: #000;
                display: block;
                img {
                    height: 40px;
                }
                span {
                    display: block;
                    margin-top: 15px;
                }
            }
        }
    }
}

.menu-nest {
    outline: 20px solid #c3d7fa; 
    position: absolute;
    top: 90px;
    left: 20px;
    right: 20px;
    padding: 0;
    background: #3a6fcb;
    .clearfix();
    .list-unstyled();
    >li {
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        >a {
            color: #fff;
            >img {
                .square(45px)
            }
            >div{
                margin-top: 10px;
            }
        }

    }
    >li:first-child {
        margin-left: 15px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    &.in {
        opacity: .5;
    }
}