.progress {
    width: auto;
    height: 60px;
    text-align: center;
    span {
        display: block;
        &:first-child {
            font-size: 25px;
            color: #7aa8f2;
        }
        &:nth-child(2) {
            color: #cdcdcd;
            margin-bottom: 10px;
        }
    }
}